<%# ツイッターアプリの検索結果画面 %>
<section class="ap-search">
  <%# ナビゲーションバー %>
  <%- include("../partials/_navbar") %>

  <%# ピル型ナビゲーション %>
  <%- include("../partials/_navigationPill") %>

  <%# ピル型ナビコンテンツ %>
  <div class="tab-content mt-3" id="pillTabContent">
    <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
      <%# ツイッター取得表示アプリメイン画面 %>
      <%- include("../partials/_main") %>
      <p class="text-center mt-3"><a href="JavaScript:history.back()" class="cus-link-color">戻る</a></p>
    </div><!-- mainタブパネルの終了 -->
    <div class="tab-pane fade mb-0" id="admin" role="tabpanel" aria-labelledby="admin-tab">
      <%# データベース更新画面 %>
      <%- include("../partials/_admin") %>
    </div><!-- adminタブパネルの終了 -->
  </div><!-- ピル型ナビゲーションの終了 -->
</section>

<%# 検索ワードがundefinedの時、空文字を設定します(検索ワードハイライトのエラー対策) %>
<% if(typeof searchWord == "undefined") {searchWord="";} %>


<%# word-highlight-url.jsで使うためグローバル変数に検索ワードを格納します。 %>
<script type="text/javascript">
  var searchWord = "<%= searchWord %>";
</script>
<%# 検索ワードハイライト/urlリンクスクリプトを読み込みます %>
<script defer type="text/javascript" src="/js/word-highlight-and-url-link.js"></script>